{% extends 'base.html' %}
{% block content %}

<h4>
Свободные партнеры
</h4>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="Тут будет находиться фотография">
      <div class="card-body">
        <h5 class="card-title">Имя Фамилия, возраст</h5>
        <p class="card-text">Краткое описание</p>
      </div>
    </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="Тут будет находиться фотография">
      <div class="card-body">
        <h5 class="card-title">Имя Фамилия, возраст</h5>
        <p class="card-text">Краткое описание</p>
      </div>
    </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="Тут будет находиться фотография">
      <div class="card-body">
        <h5 class="card-title">Имя Фамилия, возраст</h5>
        <p class="card-text">Краткое описание</p>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>




{% endblock %}