<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'hosts' %}">В поиске</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'guests' %}">В ожидании</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'restaurants' %}">Заведения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'grades' %}">Отзывы</a>
  </li>
</ul>